@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap&subset=cyrillic-ext");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
  color: #737373;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
}

.subtitle {
  font-weight: 500;
  line-height: 142.85714%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 24px;
  color: #252b42;
  font-weight: 700;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 21.47619%;
          flex: 0 1 21.47619%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75.23%;
          flex: 0 1 75.23%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  margin: 0 21px 0 0;
}

.menu__link:hover {
  text-shadow: 3px 2px 5px #00A0C1;
  font-size: 15px;
}

.menu__link a {
  color: #737373;
  letter-spacing: .2px;
}

.menu__link:last-child {
  margin: 0 0 0 0;
}

.footer {
  margin: 50px 0 0 0;
}

.footer__block {
  margin: 0 0 40px 0;
  background: #16697A;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 50px 0;
}

.footer__item h3 {
  color: #FFFFFF;
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.footer__link {
  margin: 0 0 10px 0;
}

.footer__link :last-child {
  margin: 0 0 0px 0;
}

.footer__link a {
  color: #FFFFFF;
  letter-spacing: 0.2px;
  line-height: 171.42857%;
  font-weight: 600;
}

.footer__line {
  margin: 0 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__subsubtitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  color: #737373;
}

.footer__network {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15%;
          flex: 1 0 15%;
}

.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  background: #FAFAFA;
}

._no-webp .top-content__top{
  background: url("../img/background.jpg") center/cover no-repeat; }

.top-content__body {
  position: relative;
  z-index: 5;
  padding: 185px 0 0 0;
}

.top-content__head {
  margin: 0 0 45px 0;
}

.top-content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 509px;
          flex: 0 1 509px;
  max-width: 509px;
  font-weight: 800;
  font-size: 58px;
  color: #252B42;
  line-height: 137.93103%;
  letter-spacing: 0.2px;
}

.top-content__middle {
  margin: 0 0 35px 0;
}

.top-content__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 376px;
          flex: 0 1 376px;
  max-width: 376px;
}

.top-content__button {
  margin: 0 0 80px 0;
}

.top-content__bottom {
  position: relative;
  width: 100%;
  height: 100%;
  top: 40px;
}

.top-content__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.button-top-content__btn-get {
  background: #FFA62B;
  border-radius: 37px;
  padding: 10px 36px;
  color: white;
  line-height: 200%;
  font-weight: 700;
  margin: 0px 10px 0 0;
}

.button-top-content__btn-learn {
  color: #00A0C1;
  border: 1px solid #00A0C1;
  border-radius: 37px;
  line-height: 200%;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.2px;
  padding: 10px 36px;
}

.bottom-top-content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.bottom-top-content__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 15px;
  padding: 35px 40px 35px 40px;
  background: white;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.bottom-top-content__column:nth-child(2) {
  padding: 35px 20px 35px 40px;
}

.bottom-top-content__column:hover {
  background: #00A0C1;
  color: white;
}

.bottom-top-content__column:hover .bottom-top-content__title {
  color: #fff;
}

.bottom-top-content__column:hover .bottom-top-content__image path {
  fill: #fff;
}

.bottom-top-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-top-content__image {
  margin: 0px 0 10px 0;
}

.bottom-top-content__image:hover {
  color: white;
}

.bottom-top-content__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133.33333%;
  color: #252B42;
  margin: 0 0 10px 0;
}

.bottom-top-content__text {
  line-height: 142.85714%;
}

.why-scoose {
  margin: 160px 0 80px 0;
}

.why-scoose__title {
  margin: 0 0 10px 0;
}

.why-scoose__subtitle {
  margin: 0 0 50px 0;
}

.why-scoose__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.why-scoose__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 15px;
  background: white;
}

.why-scoose__items {
  padding: 30px 30px;
}

.why-scoose__icon {
  text-align: center;
  margin: 0 0 11px 0;
}

.why-scoose__info {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  text-align: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.practice {
  margin: 125px 0 50px 0;
}

.practice__title {
  margin: 0 0 10px 0;
}

.practice__subtitle {
  margin: 0 0 45px 0;
}

.practice__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 -17px;
}

.practice__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 20px;
}

.practice__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.practice__image {
  max-width: 100%;
  text-align: center;
}

.practice__image:nth-child(3) {
  margin: 20px 0 0 0;
}

.items-practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
}

.items-practice__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 30px;
}

.items-practice__title {
  color: #252B42;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.items-practice__subtitle {
  line-height: 142.85714%;
  letter-spacing: 0.2px;
}

.service {
  margin: 100px 0 0 0;
}

.service_subtitle {
  margin: 0 0 45px 0;
}

.service__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 10px 0;
}

.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 100px 0 0;
}

.service__column:last-child {
  margin: 0 0 0 0;
}

.service__image {
  position: relative;
  max-width: 591px;
}

.service__image ::before {
  content: "";
  display: block;
  width: 97.6px;
  height: 98.4px;
  position: absolute;
  top: 45%;
  left: 43%;
  background: url("../img/button.svg") center no-repeat;
}

.content-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-service__title {
  max-width: 333px;
  text-align: left;
  margin: 0 0 10px 0;
}

.content-service__subtext {
  max-width: 300px;
  text-align: left;
  margin: 0 0 50px 0;
  letter-spacing: 0.2px;
  line-height: 142.85714%;
}

.content-service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 50px 0;
}

.content-service__items:last-child {
  margin: 0 0 0 0;
}

.content-service__icon {
  margin: 0 20px 0 0;
}

.content-service__subsubtitle {
  font-style: 16px;
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #252B42;
  margin: 0 0 5px 0;
}

.content-service__text {
  line-height: 171.42857%;
}

.clients {
  margin: 100px 0 0 0;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}

.clients__subscrible {
  margin: 50px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #16697A;
  border-radius: 2px;
  padding: 30px 50px;
  position: relative;
  z-index: 6px;
}

.clients__title {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 133.33333%;
  font-weight: 700;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.clients__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50.675%;
          flex: 0 0 50.675%;
}

.clients__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
}

.clients__input {
  height: 100%;
}

.clients__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.input {
  border-radius: 5px 0 0 5px;
  border: 1px solid #E6E6E6;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  letter-spacing: 0.2px;
  line-height: 200%;
}

.submit {
  border-radius: 0 5px 5px 0;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 200%;
  color: white;
  background: #FFA62B;
  border: 1px solid #E6E6E6;
  padding: 0px 22.5px;
  width: 100%;
  min-height: 63px;
}

.background-clients {
  /* position: relative;
	z-index: 1; */
  background: #252B42;
  height: 77px;
  margin: -90px 0 0 0;
}

._webp .top-content__top{ background: url(../img/background.webp) center/cover no-repeat; }